{% extends "admin/base.html" %}
{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | Chore administration{% endblock %}

{% block branding %}
  <div id="site-name"><a href="{% url 'admin:index' %}">Chore administration</a></div>
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'checklists/admin_clarity.css' %}">
{% endblock %}

{% block userlinks %}
  <a href="{% url 'export-configuration' %}">Export Configuration</a> /
  {{ block.super }}
{% endblock %}
